{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>		
		<script src="{% static 'scripts/myscripts.js' %}"></script>
		<link href="{% static 'images/favicon.png' %}" rel="icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LVaka Photography</title>
	</head>
	<body>
		<div id='sidebar'>
			<h1>LVaka Photography</h1>
			<p class='subtext'>Food Photographer</p>
			<ul>
				<li><a href="#" onclick="scrollsTo('#photos')">Photos</a></li>
				<li><a href="#" onclick="scrollsTo('#contact')">Contact</a></li>
				<li><a href="#" onclick="scrollsTo('#about')">About</a></li>
			</ul>
			{% if user.is_authenticated %}
			<div id="add_images">
				<a href="#" onclick="slideForm()"><i class="fa fa-plus" aria-hidden="true"></i></a>
			</div>
			{% endif %}
		</div>
		<div id='content'>
			{% block content %}
			{% endblock %}
		</div>
		<div class="modal">
			<div class="left_arrow" onclick="prevImage()">
			</div>
			<div class="modal_content">
				<img src="#" id="modalImage" alt="#" />
			</div>
			<div class="right_arrow" onclick="nextImage()">
			</div>
			<div class="close" onclick="closeModal()">
				<i class="fa fa-window-close-o" aria-hidden="true"></i>
			</div>
			<div class="modal_thumbnails">
				{% include 'folio/photos.html' %}
			</div>
		</div>
	</body>
</html>