{% extends 'folio/base.html' %}

{% block content %}
	{% if form.errors %}
		<p>Your username and password didn't match.  Please try again</p>
	{% endif %}
	<div id="contact">
		<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
			<span>{{ form.username.label_tag }} {{ form.username }}</span>
			<br />
			<span>{{ form.password.label_tag }}{{ form.password }}</span>
			<br />
			<input type="submit" value="login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>

{% endblock %}